<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8" />
  <title>Chapter1 Example9</title>
  <script src="http://code.angularjs.org/1.2.15/angular.js"></script>
</head>
<body>
  <h1>Game setup</h1>
  <div ng-controller="ExampleController1">
    <h2>Player 1</h2>
    <label>Name:</label>
    <input type="text" placeholder="Please enter player 1 name" ng-model="player.name" ng-focus="player.onNameFocused()">
    <h3 ng-show="player.name">Player 1 name is {{player.name}}.<h3>
    <h3 ng-show="player.previousName">Previous Player 1 name was {{player.previousName}}.</h3>
  </div>
  <div ng-controller="ExampleController2">
    <h2>Player 2</h2>
    <label>Name:</label>
    <input type="text" placeholder="Please enter player 2 name" ng-model="player.name" ng-focus="player.onNameFocused()">
    <h3 ng-show="player.name">Player 2 name is {{player.name}}.<h3>
    <h3 ng-show="player.previousName">Previous Player 2 name was {{player.previousName}}.</h3>
    <h3>Player count across all service instances is {{playerCount}}.</h3>
  </div>
  <script>
    (function() {
      "use strict";
      var myAppModule = angular.module('myApp', []);
      myAppModule.factory('playerService', function() {
        var playerCount = 0;
        var createDefaultPlayer = function() {
          playerCount += 1;
          var player = {
            name: "",
            previousName: ""
          };
          player.onNameFocused = function() {
            player.previousName = player.name;
          };
          return player;
        };
        return {
          createPlayer: function(name) {
            var player = createDefaultPlayer();
            player.name = name;
            return player;
          },
          getPlayerCount: function() {
            return playerCount;
          }
        };
      });
      myAppModule.controller('ExampleController1', ['$scope', 'playerService',
        function($scope, playerService) {
          $scope.player = playerService.createPlayer('Player1');
        }
      ]);
      myAppModule.controller('ExampleController2', ['$scope', 'playerService',
        function($scope, playerService) {
          $scope.player = playerService.createPlayer('Player2');
          $scope.playerCount = playerService.getPlayerCount();
        }
      ]);
    }());
  </script>
</body>
</html>
